.login{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    .logo{
        width: 80%;
        margin-top: 5%;
    }
    .google-div{
        margin-bottom: 12%;

        .google{
            height: 80px;
        }
    }
}